/* 文章内容 */
.content-left h1 {
    padding-left: 10px;
    font-size: 24px;
    font-weight: 400;
    padding: 20px 0 10px 0;
    color: #38485A;
}

.news_author {
    width: 100%;
    color: #999999;
    line-height: 18px;
}

.news_author span {
    margin-right: 20px;
    padding-left: 10px;
}

.news_author span i {
    padding-right: 5px;
    color: #999999;
}

.news_content {
    margin-top: 20px;
    line-height: 24px;
    font-size: 17px;
    height: 100%;
    /* background-color: darkgrey; */
}

.news_content p {
    line-height: 28px;
    margin: 10px 0;
    text-indent: 2em;
    color: #222;
    /* background-color: darkgrey; */
}

/* 版权声明 */
.copyright_author {
    background: #f3f3f3;
    border: #e9e9e9 1px solid;
    margin-bottom: 20px;
    color: #a0a0a0;
    padding: 25px 20px;
}

.copyright_author a {
    transition: all .3s;
    color: #666;
}

.copyright_author p:last-of-type {
    margin-top: 4px;
}

.copyright_author .p-hidden {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* 打赏 */
.money {
    width: 99%;
    display: block;
    padding: 10px 0;
    color: #666;
    border: 1px solid #f2f2f2;
    background-color: #fff;
    height: 220px;
}

.money .money-left {
    width: 48%;
    float: left;
    height: 220px;
}

.money .money-left .dashang {
    text-align: center;
    width: 134px;
    height: 49px;
    margin-top: 18%;
    margin-left: 25%;
    line-height: 49px;
    border-radius: 20px;
    color: #fff;
    background-color: salmon;
    cursor: pointer;
}

/* 打赏隐藏界面 */
#cy-reward-pop {
    width: 548px;
    height: 548px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    position: fixed;
    box-shadow: 0 0 5px #999;
    top: 50%;
    left: 50%;
    margin-left: -274px;
    margin-top: -274px;
    display: none;
    background: #FFF;
    z-index: 9999;
}

#cy-reward-pop .cy-close-btn {
    width: 11px;
    height: 10px;
    position: absolute;
    top: 17px;
    right: 14px;
    background: url('../image/close.jpg');
    cursor: pointer;
}

#cy-reward-pop .cy-avatar {
    width: 230px;
    height: 65px;
    margin: 18px auto 0;
    display: block;
    border-radius: 8px;
}

#cy-reward-pop .cy-reward-title {
    width: 100%;
    height: 75px;
    text-align: center;
    line-height: 66px;
    color: #a3a3a3;
    font-size: 16px;
    background: url('../image/cy-reward-title-bg.jpg');
    font-family: 'Microsoft YaHei';
    margin-top: 7px;
}

#cy-reward-pop .cy-reward-code {
    width: 130px;
    height: 130px;
    background: url('../image/code-bg.jpg');
    margin: 22px auto 0;
    padding: 17.5px;
    position: relative;
    box-sizing: content-box;
}

#cy-reward-pop .cy-reward-code img {
    display: none;
    width: 130px;
    height: 130px;
    position: absolute;
    top: 17.5px;
    left: 17.5px;
}

#cy-reward-pop .cy-reward-txt {
    width: 100%;
    text-align: center;
    height: 12px;
    margin-top: 16px;
    font-size: 12px;
    line-height: 12px;
    color: #000;
}

#cy-reward-pop .platform-choice {
    width: 320px;
    margin: 48px 40px auto 160px;
}

#cy-reward-pop .platform-choice label {
    width: 160px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    position: relative;
    float: left;
}

.platform-choice label i {
    font-size: 30px;
    line-height: 50px;
}

/* 打赏隔壁公众号 */
.money .money-right {
    width: 48%;
    float: left;
}

.money .money-right p img {
    text-align: center;
    width: 200px;
    border: 0;
    display: inline-block;
}

.money .money-right p{
    text-align: center;
}